<div class="col-md-12">
   <div class="white_shd full margin_bottom_30">
      <div class="full graph_head">
         <div class="heading1 margin_0">
            <h2>Product Lists</h2>
         </div>
      </div>
      <a href="/addproduct"><button class="btn btn-success" style="margin-left: 3%; margin-top: 2%;">add products</button></a>
      <div class="table_section padding_infor_info">
         <div class="table-responsive-sm">
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th>no</th>
                     <th>name</th>
                     <th style="width: 22%;">image</th>
                     <th style="width: 14%;">quantity</th>
                     <th style="width: 9%;">price</th>
                     <th>category</th>
                     <th>status</th>
                     <th>actions</th>
                     <th>block/unblock</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each product}}
                  <tr>
                     <td>{{inc @index}}</td>
                     <td>{{name}}</td>
                     <td> <img style="width: 26%;" src="/images/productImages/{{image.[0]}}"></td>
                     <td>{{quantity}}</td>
                     <td>{{price}}</td>
                     <td>{{category.name}}</td>
                     <td>{{status}}</td>
                     <td><a href="/editproduct?id={{_id}}"><button class="btn btn-primary">edit</button></a>
                     </td>
                     {{#if status}}
                     <td><a href="/listProduct?id={{_id}}"><button class="btn btn-success">list</button></a></td>
                     {{else}}
                     <td><a href="/unlistProduct?id={{_id}}"><button class="btn btn-danger">unlist</button></a></td>
                     {{/if}}
                  </tr>
                  {{/each}}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>