<button type="button" class="btn btn-danger btn-sm mt-4 ml-4" style="margin-left: 4px;" onclick="downloadPDF()">Export to PDF</button>
<section class="contact spad m-4">
  <div class="container">
    

    <div class="row" id="products">
      {{#each userPro}}
      <div class="col-6 col-xl-5 mb-4">
        <div class="bg-light rounded h-100 p-4">
          <h6 class="mb-4">Product {{inc @index}}</h6>
          <div class="testimonial-item text-center">
            <img class="img-fluid  mx-auto mb-4"
              src="http://res.cloudinary.com/df3qijj4a/image/upload/v1683971241/{{image.[0]}}"
              style="width: 26%;">
            <h5 class="mb-1">{{name}}</h5>
            <p class="mb-0"><b>Quantity :{{quantity}}</b></p>
            <p class="mb-0"><b>Total Amount :{{subPrice}}</b></p>
          </div>
        </div>
      </div>
      {{/each}}
      <div class="col-6 col-xl-5 mb-4 cart-wrap ftco-animate mx-4">
        
      {{#each orderData}}
        <div class="cart-total mb-3">
          <h5 class="mb-3">Delivery Address </h5>
          <p class="d-flex">
            <span>name: </span>
            <span style="margin-left: 1rem;">{{deliveryaddress.firstname}}</span>
          </p>
          <p class="d-flex">
            <span>Address: </span>
            <span style="margin-left: 1rem;">{{deliveryaddress.address}}</span>
          </p>
            <p class="d-flex">
            <span>Phone No: </span>
            <span style="margin-left: 1rem;">{{deliveryaddress.phonenumber}}</span>
          </p>
        </div>

          <hr>
          <p class="d-flex total-price">
            <span>Total:</span>
            <span style="margin-left: 1rem;">₹{{grandtotal}}</span>
          </p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<script>
function downloadPDF() {
  var section = document.querySelector("section.contact");
  var newWin = window.open('', 'Print-Window');
  console.log(newWin)
  newWin.document.open();
  newWin.document.write('<html><body onload="window.print()">' + section.outerHTML + '</html>');
  newWin.document.close();
  setTimeout(function () { newWin.close(); }, 10);
}
</script>

